* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid gray;*/
}
.container {
  width: 1140px;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.close-modal-btn {
  padding: 7.5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
}
